#gform_wrapper_3 {
	.ginput_container_select {
		&:after {
			right: 16px !important;
		}
	}
}
#gform_wrapper_4 {
	.ginput_container_select {
		&:after {
			right: 16px !important;
		}
	}
}
#gform_wrapper_1 {
	.ginput_container_select {
		&:after {
			right: 16px !important;
		}
	}
}
.landing-banner-left {
	margin-left: -12px;
	padding: 79px 0px 74px 90px;
	max-width: 769px;
}
.banner-checklist {
	li {
		color: #000;
		font-family: Heebo;
		font-size: 30px;
		font-style: normal;
		font-weight: 400;
		line-height: 35px;
		text-transform: capitalize;
		&:before {
			background: #000 !important;
		}
	}
}
.font_alt_4 {
	font-family: "Open Sans" !important;
}
@media (max-width: 767px) {
	body {
		.elementor-widget-rds-global-landing-page-banner-widget {
			.h-613 {
				height: 106px !important;
			}
		}
	}
	.m-landing-banner-left {
		padding: 30px 15px;
	}
}