// Use this file to overwrite the basic Bootstrap variables and add your own variables
//$purple: #5533ff; // Thats a sample how you could change a BootStrap variable.


$font_default: Heebo;
$font_alt_1: Lato;

$primary_color: #F37429;
$secondary_color: #F0F0F0;
$tertiary_color: #93D9F6;
$quaternary_color: #F4F4F4;
$black_color: #000000;
$white_color: #ffffff;
$stars_color: #E8B835;
